.chat_username {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    font-weight: 700;
    height: 40px;
}

.chats_list {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}



.chats_list div {
    margin-left: 10px;
}

.search {
    margin-left: 25px;
}

.userContainer {
    margin-left: 15px;
    margin-top: 15px;
}
.chat_link{
    text-decoration: none;
    color: black;
}
.last_message{
    color: gray;
}